.parentDiv{

  margin:auto;
}
.leftDiv{
  float:left;
}

.rightDiv{
  float:right;
}
.leftDiv-combo{
  float:left;
  margin-left: 75px;
}
.leftDiv-scroll{
  float: left;
  margin-left: -256px;
  margin-top: 55px;

}
.rightDiv-scroll{
  float:right;
  margin-top: -9px;

}

.rightDiv-combo{
  float:right;
  margin-right: 70px;
}
.rightDiv-image{
  float:right;
  color: darkslategrey;
  margin-top: -48px;
  margin-right: 100px;
}
.body{
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */

/* Handle on hover */



textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: #FFFFFF;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;

}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
.image-upload>input {
  display: none;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h4 {
  margin: 0px;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/


/*//////////////////////////////////////////////////////////////////
[ login ]*/


/*------------------------------------------------------------------
[ Form ]*/


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}

.input100 {
  font-family: Ubuntu-Regular;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;

  display: block;
  /*width: 100px;*/
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.input100:focus {
  padding-left: 60px;
}


/*------------------------------------------------------------------
[ Button ]*/



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/

/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

/*[ MARGIN ]
///////////////////////////////////////////////////////////
*/



/*[ TEXT ]
///////////////////////////////////////////////////////////
*/
/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */





/*[ SHAPE ]
///////////////////////////////////////////////////////////
*/

/*[ Display ]
-----------------------------------------------------------
*/

/*[ Position ]
-----------------------------------------------------------
*/

/*[ float ]
-----------------------------------------------------------
*/


/*[ Width & Height ]
-----------------------------------------------------------
*/

/*[ Top Bottom Left Right ]
-----------------------------------------------------------
*/


/*[ Opacity ]
-----------------------------------------------------------
*/

/*[ Background ]
-----------------------------------------------------------
*/



/*[ Wrap Picture ]
-----------------------------------------------------------
*/

/* ------------------------------------ */

/* ------------------------------------ */



/*[ Hover ]
-----------------------------------------------------------
*/

/* ------------------------------------ */



/*[  ]
-----------------------------------------------------------
*/




/*[ Transition ]
-----------------------------------------------------------
*/



/*[ Layout ]
///////////////////////////////////////////////////////////
*/

/*[ Flex ]
-----------------------------------------------------------
*/
/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */


/*[ Absolute ]
-----------------------------------------------------------
*/












