 <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
<!--    <link href="dist/css/style.css" rel="stylesheet" />-->
  </head>
  <body class="skin-default-dark fixed-layout" style="height: 0px" >

    <div id="main-wrapper">
      <aside class="left-sidebar">
        <div class="d-flex no-block nav-text-box align-items-center">
          <span>
            <img src="../../../assets/images/nav-images/app-logo.png"
                 width="55px"
                 height="60px "
                 alt="logo">
          </span>
          <div style="margin-left: 140px">
            <div class="ham-menu"></div>
            <div class="ham-menu"></div>
            <div class="ham-menu"></div>
          </div>
          <a
            class="waves-effect waves-dark ml-auto hidden-sm-down"
            href="javascript:void(0)"
          ><i class="ti-menu"></i
          ></a>
          <a
            class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up"
            href="javascript:void(0)"
          ><i class="ti-menu ti-close"></i
          ></a>
        </div>
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="index.html"
                  aria-expanded="false"
                  routerLink="/dashboard"
                ><i
                ><img
                  src="../../../assets/images/nav-images/dashboard.png"
                  alt="elegant admin template"
                  width="35px"
                  height="35px "/></i
                ><span class="hide-menu">Dashboard</span></a>

              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="pages-profile.html"
                  aria-expanded="false"
                  routerLink="/predict"
                ><i
                ><img
                  src="../../../assets/images/nav-images/predict.png"
                  alt="elegant admin template"
                  width="30px"
                  height="30px "
                /></i>
                  <span class="hide-menu">Predict Price</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="table-basic.html"
                  aria-expanded="false"
                  routerLink="/compare"
                ><i
                ><img
                  src="../../../assets/images/nav-images/compare.png"
                  alt="elegant admin template"
                  width="30px"
                  height="30px "/></i
                ><span class="hide-menu"></span>Compare Cars</a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="icon-fontawesome.html"
                  aria-expanded="false"
                  routerLink="/location"
                ><i
                ><img
                  src="../../../assets/images/nav-images/map.png"
                  alt="elegant admin template"
                  width="35px"
                  height="35px "/></i
                ><span class="hide-menu"></span>Automobile Hubs</a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="pages-blank.html"
                  aria-expanded="false"
                  routerLink="/login"
                ><i
                ><img
                  src="../../../assets/images/nav-images/user.png"
                  alt="elegant admin template"
                  width="35px"
                  height="35px "/></i
                ><span class="hide-menu"></span>User Login</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>
    <script src="../../../assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../../assets/jquery/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../../assets/jquery/sidebarmenu.js"></script>
    <script src="../../../assets/jquery/custom.min.js"></script>
  </body>

